BOT_TOKEN="ENTER TOKEN"
GOOGLE_API_KEY="ENTER KEY"
GOOGLE_CREDENTIALS_JSON="JSON_DATA_HERE"
GOOGLE_TOKEN_JSON="JSON_DATA_HERE"
SHEET_ID="ENTER ID"
SHEET_HEADER_RANGE="Sheet1!A1:E1"
SHEET_RANGE_TEMPLATE="Sheet1!A#:E#" # Use `#` as a placeholder for row numbers
